/* Conteneur principal du Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Largeur maximale définie par la maquette Figma */
    max-width: 1240px;

    /* Centre le Header horizontalement dans la page */
    margin: 30px auto 0;
}

/* Taille du logo Kasa */
.header-logo {
    width: 120px;
    height: auto;
}

/* Organisation des liens de navigation */
.header-nav {
    display: flex;
    gap: 57px;
}
 /* Souligne le lien correspondant à la page actuelle */
.header-nav a.active {
    text-decoration: underline;
}

/* Style des liens de navigation */
.header-nav a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}
                    /* version moblile  de l'app */      

/* Version mobile du Header */
@media (max-width: 768px) {

    .header {
        width: calc(100% - 40px);
        height: 47px;
        margin: 0 auto;
    }

    .header-logo {
        width: 100px;
        height: auto;
    }

    .header-nav {
        gap: 26px;
    }
    /* Taille des liens de navigation sur mobile */
    .header-nav a {
        font-size: 12px;
        white-space: nowrap;
    }
}